.row {
    width: 100%;
    display: grid;
    grid-template-columns: 2 1;
    background-color: #fff;
    color: #444;
    text-align: center;
}

.col-left {
    grid-column: 1 / 2;
    grid-row: 1;
}

.col-right {
    grid-column: 2 / 2;
    grid-row: 1;
}